* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $base-background;
  color: $base-color;
  font: 500 14px/22px $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  &.main-heading {
    color: #4a4a4a;
    font-size: 24px;
    text-align: center;
  }
}

.text--light {
  color: rgba($base-background,0.7);
}

p {
  color: #004C5E;
  font-weight: 400;
  line-height: 24px;
}

a {
  color: #118AB2;
}

.publishers-row > p {
  padding-left: 30px;
  position: relative;
  &:before {
    background: url(../../images/iati-logo.png) no-repeat 0 0;
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 20px;
  }
}

.switch-wrapper {
  em {
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0 0 12px;
  }
}

.switch {
  background: #F0F4F5;
  border-radius: 21px;
  font-weight: 400;
  float: left;
  line-height: 38px;
  width: 240px;
  > span {
    font-size: 12px;
    position: relative;
    &:after {
      background: url(../../images/ic_flag.svg) no-repeat 0 0;
      content: "";
      height: 10px;
      right: -12px;
      position: absolute;
      top: 2px;
      width: 10px;
    }
  }
}

.TriSea-technologies-Switch {
  float: left;
  margin: 17px 4px 0px 12px;
}

.TriSea-technologies-Switch > input[type="checkbox"] {
  display: none;
}

.TriSea-technologies-Switch > label {
  background: #EF476F;
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
  > span {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    float: right;
    margin: -17px 8px 0 0;
    position: relative;
    &.off {
      margin-right: 4px;
    }
  }
}

.TriSea-technologies-Switch > label::before {
  background: #EF476F;
  border-radius: 10px;
  content: '';
  height: 20px;
  margin-top: -8px;
  position:absolute;
  transition: all 0.4s ease-in-out;
  width: 38px;
}
.TriSea-technologies-Switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 16px;
  left: 2px;
  margin-top: -8px;
  position: absolute;
  top: 2px;
  transition: all 0.3s ease-in-out;
  width: 16px;
}
.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
  //background: inherit;
  //opacity: 0.5;
}
.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
  //background: inherit;
  left: 20px;
}

@media all and (min-width: 900px) {
  .container {
    width: 832px;
  }
}