.navigation {
  background: rgba($link-color, 0.8);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  > ul {
    > li {
      float: left;
      > a {
        display: block;
        margin: 12px 30px 12px 0;
        text-transform: uppercase;
        &:hover,&.active {
          color: $base-background;
          text-decoration: none;
        }
      }
    }
  }
  &.affix {
    background: rgba(17, 138, 178, 1);
    position: fixed;
    top: 0;
    bottom: auto;
    transition: all 0.2s linear;
    left: 0;
    right: 0;
    max-width: 1110px;
    margin: 0 auto;
    z-index: 1;
  }
}
