.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  td, th {
    border: 0 !important;
  }

  tr {
    border-bottom: 1px solid #DDF2F8;
    &:last-child {
      border-bottom: 0;
    }
  }

  th {
    text-align: left;
  }

  td {
    padding: 10px;
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }
}

//Fixed-column-table

.table-wrap {
  margin: 20px 0;

  .table {
    margin: 0;
    background-color: #F1FCFF;
    thead {
      background: #CFE3E8;
      th {
        border: 0;
        border-bottom: 1px solid #cfe3e8;
        font-weight: normal;
      }
    }
  }
}

.scrolling {
  table {
    table-layout: inherit;
    *margin-left: -250px; /*ie7*/
    margin: 0;
  }

  &.table-wrap .table thead th {
    border-bottom: 1px solid rgba(207, 227, 229, 0.7);
  }

  td, th {
    padding: 10px 18px;
    min-width: 100px;
    text-align: center;
    vertical-align: top;
  }

  th {
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 250px;
    text-align: left;
  }

  thead .table-header {
    th {
      border-bottom: none;
      background: #CFE3E8;
      font-weight: normal;
    }
    td {
      border-bottom: 0;
    }
  }

  tbody {
    tr {
      th {
        background: #E3F8FF;
        font-weight: normal;
        color: $light-blue;
        border-bottom: 1px solid #d2e8ef !important;
      }
      td {
        span {
          @include size(22px);
          background: #cfe0e4;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }
}

.table {
  margin: 20px 0;
}

.outer {
  position: relative
}

.inner {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 250px;
}

.table-wrap {
  .table-striped tbody tr {
    &:nth-of-type(odd) {
      background: none;
    }
  }
  .table-hover {
    tbody{
      tr:hover {
        background-color: rgba(227, 248, 255, 0.7);
      }
    }
  }
}

.table-header {
  background: #CFE3E8;
}
