header {
  background: url(../../images/pattern-bg-1.svg) repeat-x top left, url(../../images/pattern-bg-2.svg) repeat-x bottom left;
  background-color: #4AD4A1;
  height: 380px;
  margin-bottom: 44px;
  position: relative;

  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    margin: 10px 0 0;
  }
}

.inner-page-header {
  height: 162px;
  background: #4AD4A1 url(../../images/pattern-bg-3.svg) no-repeat 0 0/cover!important;
}

.header__content {
  color: $base-background;
  font-size: 18px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text--light {
  color: rgba($base-background, 0.7);
}

.logo-name {
  color: $base-background;
  display: none;
  font-size: 20px;
  float: left;
  margin: 12px 43px 12px 0;
}

@media only screen and (min-width: 500px) {
  .header {
    h1 {
      font-size: 50px;
      line-height: 58px;
    }
  }
}

@media all and (min-width: 900px) {
  .header__content {
    width: 832px;
  }
}